
.wpnp-tester{
  width: 100%;
  margin: 0px 0px 25px 0px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}
.wpnp-single-news{
  padding: 10px;
  font-size: 13px;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  hr {
    border : 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(44, 62, 80, 1), rgba(0, 0, 0, 0));
  }
}
.wpnp-featured-img{
  border-radius: 5px 5px 0 0;
  transition: all .5s;
  -ms-transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  /* overflow: hidden; */
  &:hover{
    -ms-transform:scale(1.005);
    -webkit-transform:scale(1.005);
    transform:scale(1.005);
    opacity:0.7;
  }
}
.wpnp-summary{
  display: none;
}
.wpnp-title, .wpnp-summary{
  padding: 10px 0;
  text-align: justify;
  color: $darkblue;
  line-height: 1.1em;
}

.wpnp-news-item{
  line-height: 1.1em;
}
.wpnp-cat-inner{
  background:$wpnp-red;
  color: $wpnp-white;
  position: relative;
  top: 0;
  left: 0;
  padding: 3px 5px 0;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 15px;
  i{
    font-size: 15px;
    color: $wpnp-white
  }
}
.wpnp-cat-li{
  display: none;
  padding: 10px;
  font-size: 14px;
}
.wpnp-cat-mobile,#wpnp-country-select{
  width: 100%;
  margin:10px 0;
}
.wpnp-cat-mobile-sel{
  width: 100%;
}
#wpnp-search-input{
  width: 100%;
}
#wpnp-clear{
  display: none;
}
#wpnp-content-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#wpnp-content-container-profile{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fa{
  color:$darkblue;
  font-size: 17px;
}
/*  End of mobile styles options*/
@media screen and (min-width:900px) {
  #wpnp-news-container{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    box-sizing: border-box;

  }
  #wpnp-news-container-profile{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    box-sizing: border-box;

  }
  .wpnp-tester{
    flex-basis: 30%;
    position: relative;
    margin-right: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
  }
  .wpnp-single-news{
    padding:20px;
    margin: 0px 0px 25px 0px;
    border-radius: 5px;
    font-size: 14px;
    hr {
      border : 0;
      height: 1px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(44, 62, 80, 1), rgba(0, 0, 0, 0));
    }
    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
  }
  .wpnp-title{
    display: block;
    padding: 10px 0;
    text-align: justify;
    color: $darkblue;
    line-height: 1.1em;
  }
  .wpnp-summary{
    display: block;
    padding: 15px 0;
    text-align: justify;
    color: $darkblue;
    line-height: 1.1em;
    position: relative;
    top:-5px;
  }
  .wpnp-source{
    float:right;
  }
  .wpnp-cat{
    list-style-type: none;
    padding: 30px 0;
    margin: 0;
  }
  .wpnp-cat-li{
    display: inline-block;
    padding: 10px;
    font-size: 14px;
  }
  .wpnp-cat-li:hover, #wpnp-load-more{
    cursor: pointer;
  }
  .wpnp-cat-li a{
    padding-right: 10px;
  }
  .wpnp-cat-mobile{
    display: none;
  }

  .wpnp-cat-inner{
    background:$wpnp-red;
    color: $wpnp-white;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 15px;
  }
  .wpnp-more{
    position:absolute;
    bottom:7%;
    margin:0;
  }
  .wpnp-share{
    position:absolute;
    bottom:1%;
  }
  .cat-active{
    background-color: $wpnp-black;
    color: $wpnp-white;
    border-radius: 3px;
    padding: 8px;
  }
  .wpnp-news-item{
    padding-bottom: 5px;
    line-height: 1.1em;
  }
  .wpnp-cat-mobile{
    display: none;
  }
  #wpnp-search{
    display: flex;
  }
  #wpnp-search-input{
    flex:1;
  }
  #wpnp-clear{
    flex:1;
  }
  #wpnp-country-select{
    max-width: 115px;
    /* border: none */
  }
  .wpnp-featured-img{
    border-radius: 5px 5px 0 0;
    transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    /* overflow: hidden; */
  }
}
@media screen and (min-width: 700px) and (max-width: 820px) {
  #wpnp-news-container{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    box-sizing: border-box;
    /* overflow:hidden; */
  }
  #wpnp-news-container-profile{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    box-sizing: border-box;
    /* overflow:hidden; */
  }
  .wpnp-tester {
    flex-basis: 45%;
    position: relative;
    /* height: 460px;
    margin: 0px 25px 25px 0px; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
  }
  .wpnp-title{
    display: block;
    padding: 10px 0;
    text-align: justify;
    color: $darkblue;
    line-height: 1.1em;
  }
  .wpnp-summary{
    display: block;
    padding: 15px 0;
    text-align: justify;
    color: $darkblue;
    line-height: 1.1em;
  }
  .wpnp-news-item{
    line-height: 1.1em;
  }
  .wpnp-single-news:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .wpnp-featured-img{
    border-radius: 5px 5px 0 0;
    transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    /* overflow: hidden; */
  }
  .wpnp-cat-mobile{
    display: none;
  }
  #wpnp-clear{
    display: none;
  }
}




